<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://192.168.0.253:8090/EBUS/Uploads/apk/2017-03-15-13/io.dcloud.beidi.ios.EBus_0315140141.ipa</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>io.dcloud.beidi.ios.EBus</string>
                                <key>bundle-version</key>
                                <string>0.1.2</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>中国重汽智能班车员工端</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
